[Unit]
Description=QEMU virtual machine

[Service]
Type=forking
PIDFile=/run/qemu/%i/%i.pid
ExecStart=/etc/qemu/%i.sh start

# Need to shutdown and then wait or else systemd will kill qemu when these commands return
ExecStop=-/etc/qemu/%i.sh shutdown
ExecStop=/etc/qemu/%i.sh wait
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
